* {
  padding: 0;
  margin: 0;
}

body {
  max-width: 1600px;
  font-family: "proxima_nova_rgregular", Arial, sans-serif;
  font-size: 18px;
}

[class*='-container'] {
  max-width: 1170px;
  min-width: -30px;
  margin: 0 auto;
}

/*GRID*/
* {
  box-sizing: border-box;
}

.row {
  margin-bottom: 0;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] {
  float: left;
  padding-right: 30px;
}

.row [class*='col-']:last-of-type {
  padding-right: 0;
}

.col-12 {
  width: 100%;
}

.col-8 {
  width: 66.66%;
}

.col-6 {
  width: 50%;
}

.col-4 {
  width: 33.33%;
}

.col-3 {
  width: 25%;
}

.col-2 {
  width: 16.66%;
}

/*FOnts*/
@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url("../fonts/mark_simonson_-_proxima_nova_regular.eot");
  src: url("../fonts/mark_simonson_-_proxima_nova_regular.eot?#iefix") format("embedded-opentype"), url("../fonts/mark_simonson_-_proxima_nova_regular.woff2") format("woff2"), url("../fonts/mark_simonson_-_proxima_nova_regular.woff") format("woff"), url("../fonts/mark_simonson_-_proxima_nova_regular.ttf") format("truetype"), url("../fonts/mark_simonson_-_proxima_nova_regular.svg#proxima_nova_rgregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_ththin';
  src: url("../fonts/mark_simonson_-_proxima_nova_thin.eot");
  src: url("../fonts/mark_simonson_-_proxima_nova_thin.eot?#iefix") format("embedded-opentype"), url("../fonts/mark_simonson_-_proxima_nova_thin.woff2") format("woff2"), url("../fonts/mark_simonson_-_proxima_nova_thin.woff") format("woff"), url("../fonts/mark_simonson_-_proxima_nova_thin.ttf") format("truetype"), url("../fonts/mark_simonson_-_proxima_nova_thin.svg#proxima_nova_ththin") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_rgbold';
  src: url("../fonts/mark_simonson_-_proxima_nova_bold.eot");
  src: url("../fonts/mark_simonson_-_proxima_nova_bold.eot?#iefix") format("embedded-opentype"), url("../fonts/mark_simonson_-_proxima_nova_bold.woff2") format("woff2"), url("../fonts/mark_simonson_-_proxima_nova_bold.woff") format("woff"), url("../fonts/mark_simonson_-_proxima_nova_bold.ttf") format("truetype"), url("../fonts/mark_simonson_-_proxima_nova_bold.svg#proxima_nova_rgbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*Buttons style*/
.header, .footer {
  background: #000;
  color: #fff;
}

.header .header-container, .footer .header-container {
  line-height: 80px;
}

.header .header__logo, .footer .header__logo {
  font-family: "proxima_nova_rgbold", Arial, sans-serif;
  font-weight: 800;
  font-size: 40px;
  float: left;
}

.header .header__navigation, .footer .header__navigation {
  float: left;
  margin-left: 130px;
}

.header .header__navigation .nav-item, .footer .header__navigation .nav-item {
  padding-right: 40px;
  text-decoration: none;
  color: #fff;
  font-size: 21px;
  text-transform: capitalize;
}

.header .header__navigation .nav-item:hover, .footer .header__navigation .nav-item:hover {
  color: #1cb88b;
}

.header .header__sign, .footer .header__sign {
  float: right;
}

.header .header__sign .header__sign__button, .footer .header__sign .header__sign__button {
  padding: 10px 20px;
  color: #1cb88b;
  border: 2px solid #1cb88b;
  border-radius: 15px;
  text-decoration: none;
  font-size: 21px;
  text-transform: capitalize;
}

.header .header__sign .header__sign__button:hover, .footer .header__sign .header__sign__button:hover {
  background: #1cb88b;
  color: white;
}

.header__introduce-video {
  background: #666;
  color: #fff;
  padding: 300px 0;
}

.header__introduce-video-container .click {
  display: inline-block;
  padding: 20px 0 0 50px;
}

.header__introduce-video-container .click p {
  font-size: 72px;
  font-weight: 100;
}

.header__introduce-video-container .click a {
  text-decoration: none;
  font-size: 21px;
  text-transform: capitalize;
  color: #1cb88b;
}

/*Content services*/
.content__services {
  background: #1cb88b;
  padding-bottom: 50px;
  padding-top: 50px;
  color: #fff;
}

.headline, .content__portfolio_headline h2, .content__team_headline h2, .content__skills_headline h2, .content__contacts_headline h2 {
  font-size: 74px;
  font-family: "proxima_nova_rgbold", Arial, sans-serif;
  text-transform: uppercase;
  border-bottom: 10px solid #fff;
  line-height: 1;
}

[class*='feature__icon'] {
  float: left;
  margin-right: 20px;
  cursor: pointer;
}

.feature__icon-1 {
  background-image: url(../img/spritebox-sprite.png);
  background-repeat: no-repeat;
  background-position: -100px -129px;
  height: 100px;
  width: 100px;
  margin-bottom: 60px;
}

.feature__icon-2 {
  background-image: url(../img/spritebox-sprite.png);
  background-repeat: no-repeat;
  background-position: -129px 0px;
  height: 100px;
  width: 100px;
  margin-bottom: 60px;
}

.feature__icon-3 {
  background-image: url(../img/spritebox-sprite.png);
  background-repeat: no-repeat;
  background-position: 0px -129px;
  height: 100px;
  width: 100px;
}

.feature__icon-4 {
  background-image: url(../img/spritebox-sprite.png);
  background-repeat: no-repeat;
  background-position: -229px 0px;
  height: 100px;
  width: 100px;
}

.feature__content h3 {
  font-size: 18px;
  font-family: "proxima_nova_rgbold", Arial, sans-serif;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.feature__content p {
  font-size: 14px;
  font-family: "proxima_nova_ththin", Arial, sans-serif;
  line-height: 1.5;
}

/*Content services small*/
.content__services__small {
  background: #fff;
}

.content__services__small__item {
  height: 150px;
}

.content__services__small__item:nth-child(1) {
  background: url("../img/lightbulb_icon.png") no-repeat center center;
}

.content__services__small__item:nth-child(1):hover {
  background: #6c6c6c url("../img/lightbulb_icon.png") no-repeat center center;
  cursor: pointer;
}

.content__services__small__item:nth-child(2) {
  background: url("../img/earth_icon.png") no-repeat center center;
}

.content__services__small__item:nth-child(2):hover {
  background: #6c6c6c url("../img/earth_icon.png") no-repeat center center;
  cursor: pointer;
}

.content__services__small__item:nth-child(3) {
  background: url("../img/photocam_icon.png") no-repeat center center;
}

.content__services__small__item:nth-child(3):hover {
  background: #6c6c6c url("../img/photocam_icon.png") no-repeat center center;
  cursor: pointer;
}

.content__services__small__item:nth-child(4) {
  background: url("../img/wrench_icon.png") no-repeat center center;
}

.content__services__small__item:nth-child(4):hover {
  background: #6c6c6c url("../img/wrench_icon.png") no-repeat center center;
  cursor: pointer;
}

.content__services__small__item:nth-child(5) {
  background: url("../img/mic_icon.png") no-repeat center center;
}

.content__services__small__item:nth-child(5):hover {
  background: #6c6c6c url("../img/mic_icon.png") no-repeat center center;
  cursor: pointer;
}

.content__services__small__item:nth-child(6) {
  background: url("../img/cash_icon.png") no-repeat center center;
}

.content__services__small__item:nth-child(6):hover {
  background: #6c6c6c url("../img/cash_icon.png") no-repeat center center;
  cursor: pointer;
}

/*Content portfolio*/
.content__portfolio {
  background: #ebebeb;
}

.content__portfolio_headline, .content__team_headline, .content__skills_headline, .content__contacts_headline {
  margin: 100px 0 30px 0;
}

.content__portfolio_headline h2, .content__team_headline h2, .content__skills_headline h2, .content__contacts_headline h2 {
  color: #363636;
  border-color: #363636;
}

.content__portfolio__tabs-gorizontal {
  margin-bottom: 60px;
}

.tabs-list, .content__skills__tabs-item ul {
  list-style: none;
}

.tabs-list .tab-list__item, .content__skills__tabs-item ul .tab-list__item {
  display: inline-block;
  margin-right: 10px;
}

.tabs-list .tab-list__item a, .content__skills__tabs-item ul .tab-list__item a {
  padding: 10px 20px;
  color: #1cb88b;
  border: 2px solid #1cb88b;
  border-radius: 15px;
  text-decoration: none;
  font-size: 21px;
  text-transform: capitalize;
}

.tabs-list .tab-list__item a:hover, .content__skills__tabs-item ul .tab-list__item a:hover {
  background: #1cb88b;
  color: white;
}

.content__portfolio__tabs-project-item .item-content {
  height: 370px;
  background: #d2d2d2;
  border: 1px solid #eee;
  margin-bottom: 30px;
  position: relative;
}

.content__portfolio__tabs-project-item .item-content:hover .item-content_project-name {
  display: block;
}

.item-content_project-name {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  background: #fff;
  display: none;
}

.item-content_project-name h4 {
  color: #1cb88b;
  font-size: 20px;
  font: "proxima_nova_rgbold", Arial, sans-serif;
  text-transform: uppercase;
  padding: 30px 0 20px 0;
}

.item-content_project-name p {
  font-size: 14px;
  font-family: "proxima_nova_ththin", Arial, sans-serif;
  padding-bottom: 30px;
}

.plus {
  background-image: url(../img/spritebox-sprite.png);
  background-repeat: no-repeat;
  background-position: -186px -287px;
  height: 32px;
  width: 31px;
  margin-bottom: 140px;
}

/*Content testimonial*/
.content__testimonial {
  background: #666;
  padding: 65px 0 30px 0;
  text-align: center;
  color: #fff;
}

.content__testimonial-content {
  margin: 0 200px;
}

.content__testimonial__quote {
  font: "proxima_nova_ththin", Arial, sans-serif;
  font-size: 32px;
  margin-bottom: 25px;
}

.content__testimonial__slider-img {
  background: url("../img/jack-efron_photo.png") no-repeat -40px -20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto;
}

.content__testimonial__slider h3 {
  font-size: 18px;
  font-family: "proxima_nova_rgbold", Arial, sans-serif;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.content__testimonial__slider .slider-list {
  list-style: none;
  margin-top: 30px;
}

.content__testimonial__slider .slider-list li {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #fff;
  margin: 0 5px;
}

.content__testimonial__slider .slider-list li:first-child {
  background: #fff;
}

/*Our team*/
.content__team {
  background: #fff;
  color: #7f7f7f;
}

.content__team_headline, .content__skills_headline, .content__contacts_headline {
  margin-bottom: 80px;
}

.member-photo {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background: #d2d2d2;
  position: relative;
  margin-bottom: 50px;
}

.member-photo .member-social-contact {
  position: absolute;
  display: inline-block;
  top: 35%;
  right: -75%;
}

.social-icon-twitter, .social-icon-fb, .social-icon-insta {
  display: inline-block;
  background: #1cb88b url("../img/twitter_icon.png") no-repeat center center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.social-icon-fb {
  background-image: url("../img/facebook_icon.png");
}

.social-icon-insta {
  background-image: url("../img/insta_icon.png");
}

.member-information, .content__skills-information__text {
  margin-left: 115px;
}

.member-information h3, .content__skills-information__text h3 {
  color: #1cb88b;
  font-size: 20px;
  font: "proxima_nova_rgbold", Arial, sans-serif;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.member-information .member-position, .content__skills-information__text .member-position {
  display: inline-block;
  font-size: 14px;
  font-family: "proxima_nova_ththin", Arial, sans-serif;
  margin-bottom: 30px;
}

.member-information p, .content__skills-information__text p {
  font-family: "proxima_nova_ththin", Arial, sans-serif;
  font-size: 14px;
  margin-bottom: 50px;
}

/*Statistics*/
.content__stat {
  background: #666;
  color: #fff;
  font-family: "proxima_nova_ththin", Arial, sans-serif;
  padding: 80px 0;
  text-align: center;
}

.content__stat-item__img-gift {
  background-image: url(../img/spritebox-sprite.png);
  background-repeat: no-repeat;
  background-position: -73px -229px;
  height: 54px;
  width: 62px;
  margin: 0 auto;
}

.content__stat-item__img-speech {
  background-image: url(../img/spritebox-sprite.png);
  background-repeat: no-repeat;
  background-position: 0px -229px;
  height: 58px;
  width: 73px;
  margin: 0 auto;
}

.content__stat-item__img-cup {
  background-image: url(../img/spritebox-sprite.png);
  background-repeat: no-repeat;
  background-position: -229px -163px;
  height: 58px;
  width: 75px;
  margin: 0 auto;
}

.content__stat-item__img-rummer {
  background-image: url(../img/spritebox-sprite.png);
  background-repeat: no-repeat;
  background-position: -229px -100px;
  height: 63px;
  width: 67px;
  margin: 0 auto;
}

.content__stat-item__number {
  font-size: 90px;
  margin: 45px 0 0 0;
  display: inline-block;
}

.content__stat-item h3 {
  font-size: 20px;
  font-family: "proxima_nova_rgbold", Arial, sans-serif;
  text-transform: uppercase;
}

/*Our skills*/
.content__skills {
  font-family: "proxima_nova_ththin", Arial, sans-serif;
  font-size: 14px;
}

.circle {
  color: #1cb88b;
}

.content__skills-information__text h3 {
  margin: 50px 0 30px 0;
}

.content__skills-information__text p {
  margin-bottom: 25px;
}

.content__skills__tabs {
  margin-bottom: 140px;
}

.content__skills__tabs-item {
  border: 1px solid #6c6c6c;
  border-radius: 10px;
  position: relative;
  color: #6c6c6c;
  margin-bottom: 10px;
}

.content__skills__tabs-item:nth-child(1) {
  color: #1cb88b;
  margin-bottom: 0;
}

.content__skills__tabs-item:nth-child(3) ul li {
  background: url("../img/lock_icon.png") no-repeat 20px center;
}

.content__skills__tabs-item:nth-child(4) ul li {
  background: url("../img/arrow_icon.png") no-repeat 20px center;
}

.content__skills__tabs-item:nth-child(5) ul li {
  background: url("../img/phone_icon.png") no-repeat 20px center;
}

.content__skills__tabs-item:nth-child(6) ul li {
  background: url("../img/phonebook_icon.png") no-repeat 20px center;
}

.content__skills__tabs-item ul {
  display: inline-block;
  font-family: "proxima_nova_rgbold", Arial, sans-serif;
}

.content__skills__tabs-item li {
  padding: 25px 0px 25px 60px;
  background: url("../img/rocket_icon.png") no-repeat 20px center;
}

.minus {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 22px;
}

.content__skills__tabs-item__text {
  margin: 20px 20px 30px 20px;
}

/*ADS*/
.content__ads {
  font-family: "proxima_nova_ththin", Arial, sans-serif;
  font-size: 48px;
  background: #1cb88b;
}

.conten__ads-info {
  text-align: center;
}

.conten__ads-info .user-mail {
  width: 64%;
  padding: 30px 0;
  background: #1cb88b;
  color: #fff;
  outline: none;
  border: none;
  text-indent: 0;
}

.subscribe-btn {
  padding: 10px 20px;
  color: #1cb88b;
  border: 2px solid #fff;
  border-radius: 15px;
  background: #fff;
  font-family: "proxima_nova_rgregular", Arial, sans-serif;
  font-size: 18px;
}

.subscribe-btn:hover {
  background: #1cb88b;
  color: white;
}

/*Our clients*/
.content__clients {
  background: #7f7f7f;
  padding: 30px 0;
}

[class*='content__clients-list__item-'] {
  float: left;
  width: 170px;
  height: 100px;
  margin-right: 30px;
  cursor: pointer;
}

[class*='content__clients-list__item-']:last-child {
  margin-right: 0;
}

.content__clients-list {
  margin: 0 auto;
  max-width: 970px;
}

.content__clients-list .content__clients-list__item-1 {
  background: #a6a6a6 url("../img/envato_logo.png") no-repeat center center;
}

.content__clients-list .content__clients-list__item-2 {
  background: #a6a6a6 url("../img/wordpress_logo.png") no-repeat center center;
}

.content__clients-list .content__clients-list__item-3 {
  background: #a6a6a6 url("../img/dribble_logo.png") no-repeat center center;
}

.content__clients-list .content__clients-list__item-4 {
  background: #a6a6a6 url("../img/envato_logo.png") no-repeat center center;
}

.content__clients-list .content__clients-list__item-5 {
  background: #a6a6a6 url("../img/wordpress_logo.png") no-repeat center center;
}

/*Contacts*/
.content__contacts {
  background: #ebebeb;
}

.content__contacts_headline {
  margin-bottom: 40px;
}

.company-contacts p {
  color: #6c6c6c;
  margin-bottom: 20px;
}

.content__contacts__social__list {
  list-style: none;
  margin: 20px 0 50px 0;
  line-height: 15px;
}

.content__contacts__social__list li {
  display: inline-block;
  margin-right: 20px;
  height: 15px;
  cursor: pointer;
}

.content__contacts__social__list-twitt {
  background-image: url(../img/spritebox-sprite.png);
  background-repeat: no-repeat;
  background-position: -409px -73px;
  height: 12px;
  width: 15px;
}

.content__contacts__social__list-fb {
  background-image: url(../img/spritebox-sprite.png);
  background-repeat: no-repeat;
  background-position: -388px -54px;
  height: 16px;
  width: 8px;
}

.content__contacts__social__list-google {
  background-image: url(../img/spritebox-sprite.png);
  background-repeat: no-repeat;
  background-position: -461px -28px;
  height: 16px;
  width: 15px;
}

.content__contacts__social__list-pin {
  background-image: url(../img/spritebox-sprite.png);
  background-repeat: no-repeat;
  background-position: -451px -54px;
  height: 15px;
  width: 15px;
}

.content__contacts__social__list-insta {
  background-image: url(../img/spritebox-sprite.png);
  background-repeat: no-repeat;
  background-position: -358px -73px;
  height: 14px;
  width: 14px;
}

.content__contacts__social__list-you {
  background-image: url(../img/spritebox-sprite.png);
  background-repeat: no-repeat;
  background-position: -392px -73px;
  height: 12px;
  width: 17px;
}

.content__contacts__social__list-skype {
  background-image: url(../img/spritebox-sprite.png);
  background-repeat: no-repeat;
  background-position: -329px -73px;
  height: 15px;
  width: 15px;
}

.content__contacts__social__list-ball {
  background-image: url(../img/spritebox-sprite.png);
  background-repeat: no-repeat;
  background-position: -344px -73px;
  height: 15px;
  width: 14px;
}

.contacts__user-mail, .contacts__user-name {
  width: 48%;
  float: left;
  position: relative;
}

.user-mail__text, .user-name__text, .user-message__text {
  width: 100%;
  padding: 3.5% 10px;
  margin-bottom: 30px;
  background: #ebebeb;
  font-size: 18px;
  outline: none;
  font-weight: 700;
  text-indent: 38px;
  border: solid 2px #222;
}

.msg-img, .user-img {
  background-image: url(../img/spritebox-sprite.png);
  background-repeat: no-repeat;
  background-position: -396px -54px;
  height: 15px;
  width: 18px;
  position: absolute;
  top: 23%;
  right: 87%;
  display: inline-block;
}

.contacts__user-name {
  float: right;
}

.user-img {
  background-image: url(../img/spritebox-sprite.png);
  background-repeat: no-repeat;
  background-position: -414px -54px;
  height: 15px;
  width: 18px;
}

.contacts__user-message {
  position: relative;
}

.user-message__text {
  resize: none;
  min-height: 100px;
  padding: 2% 10px;
  margin-bottom: 145px;
}

.pen-img {
  background-image: url(../img/spritebox-sprite.png);
  background-repeat: no-repeat;
  background-position: -433px -54px;
  height: 15px;
  width: 18px;
  position: absolute;
  top: 8%;
  right: 94%;
  display: inline-block;
}

.submit-button {
  width: 100%;
  padding: 1em 0;
  background: url("../img/check_green_icon.png") no-repeat 112px 25px #fff;
  text-align: center;
  font-size: 26px;
  color: #1cb88b;
  outline: none;
  border: 3px solid #fff;
  margin-top: 3.5em;
  cursor: pointer;
  border-radius: 15px;
}

.submit-button:hover {
  background: url("../img/check_green_icon.png") no-repeat 112px 25px;
  border-color: #1cb88b;
}

.footer {
  font-family: "proxima_nova_ththin", Arial, sans-serif;
  padding: 50px 0 20px 0;
  text-align: center;
}

.footer__logo {
  font-weight: 800;
  font-size: 40px;
  margin: 0 0 20px 0;
  font-family: "proxima_nova_rgbold", Arial, sans-serif;
}

.footer__to-top {
  background-image: url(../img/spritebox-sprite.png);
  background-repeat: no-repeat;
  background-position: -372px -73px;
  height: 12px;
  width: 20px;
  display: inline-block;
}

.footer__copyright {
  margin-bottom: 15px;
  color: #6c6c6c;
}
